*{
    box-sizing: border-box
}
body{
    margin: 0;
    padding: 0;
    background-color: #dbdbdb;
    font-family: 'Raleway', sans-serif;
}

#social{
    background-color: black;
    color: white;
    height: 55px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    font-size: 18px;
    text-align: right;
    padding: 15px;
}

#socialbar{
    float: left;
    letter-spacing: 2px;
}

span{
    font-size: 12px;
    letter-spacing: 1px;
}

#social>i {
    margin-right: 15px;
}

#social>i:hover {
    opacity: 0.5;
}

#container{
    width: 80%;
    margin: auto;
    height: auto;
}

header{
    width: 100%;
    height: 250px;
    box-shadow: 0 2px 8px 2px rgba(20,23,28,.15)
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    background-color: black;
    margin-bottom: 5px;
}


#centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 50px;
    font-family: 'Neonderthaw', cursive;
    
}

section{
    width: 100%;
    height: auto;
    background-color: #f1f1f1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 2px 8px 2px rgba(20,23,28,.15);
    margin-top: 15px;
    overflow: auto;
}

nav{
    width: 20%;
    height: auto;
    float: left;
    margin-top: 10px;
}

nav ul{
    width: auto;
    height: %100;
    margin:0;
    padding: 0;
}

nav li{
    list-style-type: none; 
}

nav li a{
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid #b4b4b4;
    padding-left: 20px;
    display: block;
}

nav li a:hover{
    color: white;
    background-color: #adadad;
}

i{
    margin-right: 10px;
}

main{
    float: left;
    height: auto;
    width: 80%;
    padding: 10px;
}

.icerik{
    width: 48%;
    height: auto;
    display: inline-block;
    margin-right: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 8px 2px rgba(20,23,28,.15);
    margin-bottom: 15px;
}

.rsm{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: opacity 0.8s;
    
}

.rsm:hover{
    opacity: 0.6;
}

h5{
    margin: 5px;
    color: dimgray;
}

.icerikText{
    margin: 10px;
    color: dimgray;
}

.btnDevam:link{
    display: block;
    width: 150px;
    height: 45px;
    padding: 10px 20px;
    background-color: #0071ce;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin: 15px;
}

.btnDevam:hover{
    opacity: 0.8;
}

footer{
    width: 100%;
    height: 75px;
    background-color: black;
    color: white;
    line-height: 75px;
    text-align: center;
    box-shadow: 0 2px 8px 2px rgba(20,23,28,.15);
}

h1{
    text-align: center;
    background-color: black;
    color: white;
    height: 50px;
    line-height: 50px;
    margin: 0 10px;
    border-radius: 10px;
    box-shadow: 0 2px 8px 2px rgba(20,23,28,.15);
}

#hakkimdaImage{
    height: 400px;
    float: left;
    border-radius: 10px;
    margin: 25px;
    margin-bottom:5px;
    transition: opacity 1.1s;    
}

#hakkimdaImage:hover{
    opacity: 0.6;
}
.hakkimdaText{
    margin-right: 15px;
    font-size: 15px;
    font-family: Cambria;
    text-indent: 25px;
    color: #494949;
}

.referans{
    width: 31%;
    height: 400px;
    background-color: white;
    float: left;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 8px 2px rgba(20,23,28,.15);
    margin-top: 20px;
    
    
}

.refImage{
    width: 100%;
    height: 300px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 0;
    opacity: 0.6;
    transition: opacity 0.8s;
}

.refImage:hover{
    opacity:1;
}

.refBaslik{
    font-size: 20px;
    display: inline-block;
    margin-top: 0;
    color: black;
    text-align: center;
    height: 45px;
    line-height: 45px;
    background-color: #f1f1f1;
    width: 100%;
    margin-top: -5px; 
}

.refDetay{
    text-align: center;
}

.gallery{
    width: 20%;
    height: 300px;
    margin: 15px 20px;
    border-radius: 5px;
    opacity: 0.6;
    transition: all 0.8s;
    box-shadow: 0 2px 8px 2px rgba(20,23,28,.15);
    object-fit: cover;
}

.gallery:hover{
    opacity: 1;    
    border: 5px solid white;
    cursor: pointer;
}

iframe{
    width: 98%;
    height: 350px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: 0 2px 8px 2px rgba(20,23,28,.15);
}

.section1{
    width: 98%;
    height: auto;
    margin: auto;
    margin-top: 10px;
    background-color: #f2f2f2;
    padding: 10px;
}

.form{
    width: 49%;
    float: left;
    height: 380px;border: 1px solid #d8d8d8;
    padding: 10px;
    margin-right: 10px;
}

.col1{
    width: 25%;
    float: left;
    margin-top: 6px;
    
}

.col2{
    width: 75%;
    float: left;
    margin-top: 6px;
    
}

label{
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=text],textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.row:after{
    content: "";
    clear: both;
    display: block;
}

input[type=submit]{
    background-color:cadetblue;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    float: right;
}

.adres{
    width: 49%;
    float: left;
    height: 380px;border: 1px solid #d8d8d8;
    padding: 10px;
    
}

h2{
    text-align: center;
    
}

.span1{
    display: block;
    font-family: Calibri;
    margin: 10px;
    letter-spacing: 1.5px;
    text-align: center;
    font-size: 16px;
}